body {

    background: linear-gradient(270deg, #506861, #27272f);
    background-size: 400% 400%;

    -webkit-animation: AnimationName 19s ease infinite;
    -moz-animation: AnimationName 19s ease infinite;
    -o-animation: AnimationName 19s ease infinite;
    animation: AnimationName 19s ease infinite;

    @-webkit-keyframes AnimationName {
        0% {
            background-position: 4% 0%
        }

        50% {
            background-position: 97% 100%
        }

        100% {
            background-position: 4% 0%
        }
    }

    @-moz-keyframes AnimationName {
        0% {
            background-position: 4% 0%
        }

        50% {
            background-position: 97% 100%
        }

        100% {
            background-position: 4% 0%
        }
    }

    @-o-keyframes AnimationName {
        0% {
            background-position: 4% 0%
        }

        50% {
            background-position: 97% 100%
        }

        100% {
            background-position: 4% 0%
        }
    }

    @keyframes AnimationName {
        0% {
            background-position: 4% 0%
        }

        50% {
            background-position: 97% 100%
        }

        100% {
            background-position: 4% 0%
        }
    }
}






p,
h1,
h2,
h3 {
    color: lightgray;
}


#body-wrap {
    max-width: 1400px;
    margin: auto;
}


#homenav a {
    display: inline-block;
    padding: 26px 40px;
    text-decoration: none;
    color: #B2B2B2;
    font-size: 1.3rem;
    text-transform: uppercase;

}

#homenav span {
    padding-left: 20px;
}


#nav {
    background-color: ;
    /* for visualization purposes */
    display: inline-block;
    padding-left: 1%;
    /* don't know why.... just working... hacked but lost hope otherwise! */
    text-transform: uppercase;
}

#nav i {}

#nav span {
    padding-left: 20px;
}

#nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#nav li {
    display: inline;
    float: left;

}

#nav li a {
    display: block;
    padding: 26px 40px;
    text-decoration: none;
    color: #B2B2B2;
    font-size: 1.3rem;

}

#watch {padding-top: 20vh;position: relative}

#listen, #about {padding-top: 10vh;position: relative}

#about i {font-size: 2.3rem;}
#about a:hover {color: #fff;}
#about em {font-weight:600; color: lightgray; font-size: 1.2rem;}

#tabz li.uk-active a{border-color: white; border-width: 2px; color: white; }

#contact a,#contact a:hover {color: #B2B2B2;}

#footer a,#footer a:hover {color: #fff;}


/*========Media Queries ===========*/



@media all and (min-width: 839px) {

    #home img {
        width: 70%;
    }

}

@media all and (max-width: 839px) {


    #nav li a {
        display: block;
        padding: 22px;
        text-decoration: none;

    }

    #nav span {
        padding-left: 7px;
    }

    #homenav a {
        padding: 24px;
        


    }
}

@media all and (max-width: 800px) {
    #homenav a {width: 40%;} 
}

@media all and (max-width: 590px) {

    body { background:   #27272f;}
    #home img {
        width: 70%;
    }

    #nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    #nav li {
        display: inline;
        float: left;

    }

    #nav li a {
        display: block;
        padding: 26px;
        text-decoration: none;

    }

    #homenav a {
        padding: 20px; 
            width: 25%;


    }
    #homenav span {font-size: 1rem;}
    
    
    
    
     #nav a  span{
         display: none; 
    }

}
